<% provide(:title,'Home') %>
<div class="greeting">
	<hgroup>
		<h1>Welkome to the Society</h1>
	    <h2>This is Home Page</h2>
	</hgroup>
	<%= link_to "Sign up now", signup_path, class: "b" %>
</div>
<!--<%= link_to image_tag("society.png", alt: "Society"),"#"%>-->
