<footer>
	<p>Created by Oleg Motenko.All rights © reserved .</p>
	<nav class="navig-footer">
			<ul>
				<li><%= link_to "About"  , about_path %></li>
				<li><%= link_to "Contact", contact_path %></li>
				<li><%= link_to "News"   , "#" %></li>
		</ul>
	</nav>
</footer>